body {
  color:whitesmoke;
  font-weight: bold
}

.movie-app > .row {   
  overflow-x: auto;
  flex-wrap: nowrap;
  }

  input[type='radio'] {
    display: none;
  }

  .star {
    cursor: pointer;
    transition: color 200ms;
  }
